body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  height: fit-content; }

h2 {
  margin: 5%;
  width: 100%;
  height: fit-content; }

h3 {
  width: 100%; }

div {
  display: flex;
  width: 85%; }

fieldset {
  width: 85%;
  margin: 0 auto;
  height: fit-content; }

form {
  display: flex;
  margin: 0 auto; }

label.required::before, p.required::before {
  content: '*';
  margin-right: 4px;
  color: red; }

p.required {
  height: fit-content;
  margin: 0 auto;
  width: 100%;
  font-style: italic;
  text-align: center; }

#container {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity ease-out 2s 2s;
  height: 700px;
  box-shadow: 10px 10px 20px grey; }

#price {
  text-align: right;
  margin-right: 5%;
  width: 100%; }

#order-complete {
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in 1s 1s;
  margin: 0 auto;
  background: whitesmoke;
  box-shadow: 10px 10px 20px grey;
  width: 25%; }
  #order-complete img {
    display: block;
    margin: 0 auto;
    padding: 2rem; }

.order-form {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  background: whitesmoke; }
  .order-form:nth-of-type(2) {
    background: white; }
    .order-form:nth-of-type(2) fieldset {
      width: 100%; }
      .order-form:nth-of-type(2) fieldset:nth-of-type(1) input, .order-form:nth-of-type(2) fieldset:nth-of-type(1) select, .order-form:nth-of-type(2) fieldset:nth-of-type(2) input, .order-form:nth-of-type(2) fieldset:nth-of-type(2) select {
        width: 90%;
        margin: .5rem; }

.shippingInfo:nth-of-type(1), .shippingInfo:nth-of-type(2) {
  margin: 0 auto;
  display: block; }
  .shippingInfo:nth-of-type(1) p, .shippingInfo:nth-of-type(2) p {
    width: 100%;
    margin: 0 auto; }

.info:nth-of-type(1), .info:nth-of-type(2) {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 90%;
  padding: 0.2rem; }
  .info:nth-of-type(1) p, .info:nth-of-type(2) p {
    display: inline-block;
    width: 50%;
    margin: 0;
    margin-bottom: 0.5rem; }
    .info:nth-of-type(1) p:nth-of-type(1), .info:nth-of-type(2) p:nth-of-type(1) {
      width: 100%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
    .info:nth-of-type(1) p:nth-of-type(4), .info:nth-of-type(1) p:nth-of-type(5), .info:nth-of-type(2) p:nth-of-type(4), .info:nth-of-type(2) p:nth-of-type(5) {
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }

#product {
  width: 90%;
  height: 50%;
  margin: 0 auto; }
  #product img {
    margin: 0 auto;
    width: 100%; }

#size {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly; }

#color {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; }
  #color label:nth-child(2) {
    width: 10%;
    background: red; }
  #color label:nth-child(4) {
    width: 10%;
    background: blue; }
  #color label:nth-child(6) {
    width: 10%;
    background: green; }
  #color label:nth-child(8) {
    width: 10%;
    background: black; }

#submit-order {
  background: lightgreen;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  display: block; }
