body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body button {
    cursor: pointer; }

h1 {
  text-align: center; }

h2 {
  width: fit-content;
  margin-left: 5px;
  height: fit-content; }

h3 {
  margin: 0;
  margin-left: 5%; }

div {
  display: flex;
  width: 85%; }

form {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  form input, form select {
    width: 90%;
    margin: 5px; }
  form input:nth-child(10) {
    width: 50%; }
  form select:nth-child(12) {
    width: 50%; }
  form input:nth-child(14) {
    width: 50%; }
  form select:nth-child(16) {
    width: 50%; }

label.required::before, p.required::before {
  content: '*';
  margin-right: 4px;
  color: red; }

p.required {
  font-style: italic;
  text-align: center; }

#container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 500px;
  box-shadow: 10px 10px 20px grey; }

#price {
  text-align: right;
  margin-right: 5%; }

#order-complete {
  display: none;
  margin: 0 auto;
  background: whitesmoke;
  box-shadow: 10px 10px 20px grey;
  width: 25%; }
  #order-complete address {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; }
    #order-complete address p {
      margin: 0.1rem;
      width: 100%; }
      #order-complete address p:nth-of-type(2) {
        width: 100%; }
      #order-complete address p:nth-of-type(3) {
        width: fit-content; }
      #order-complete address p:nth-of-type(4) {
        width: fit-content; }
      #order-complete address p:nth-of-type(5) {
        width: fit-content; }
      #order-complete address p:nth-of-type(6) {
        width: fit-content; }
  #order-complete img {
    display: block;
    margin: 0 auto;
    padding: 2rem; }

#summary-complete {
  width: 90%;
  margin: 0 auto; }
  #summary-complete p {
    width: 50%;
    margin-bottom: 0.5rem; }
    #summary-complete p:nth-of-type(1) {
      width: 100%; }
  #summary-complete div:nth-of-type(1) {
    padding: 0;
    width: 100%; }
    #summary-complete div:nth-of-type(1) p {
      width: fit-content; }
  #summary-complete div:nth-of-type(2) {
    width: 100%; }
    #summary-complete div:nth-of-type(2) p {
      width: 50%; }

.order-form {
  display: flex;
  flex-direction: column;
  background: whitesmoke; }
  .order-form:nth-of-type(2) {
    background: white; }

.order-form:nth-child(3) {
  display: block; }
  .order-form:nth-child(3) p {
    width: 90%;
    margin: 0 auto; }
  .order-form:nth-child(3) h3 {
    margin-top: 10%; }
  .order-form:nth-child(3) address {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8rem; }
  .order-form:nth-child(3) address p {
    margin: 0.1rem; }
    .order-form:nth-child(3) address p:nth-of-type(3) {
      width: fit-content; }
    .order-form:nth-child(3) address p:nth-of-type(4) {
      width: fit-content; }
    .order-form:nth-child(3) address p:nth-of-type(5) {
      width: fit-content; }
    .order-form:nth-child(3) address p:nth-of-type(6) {
      width: fit-content; }

#summary {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 90%;
  padding: 0.2rem; }
  #summary p {
    display: inline-block;
    width: 50%;
    margin: 0;
    margin-bottom: 0.5rem; }
    #summary p:nth-of-type(1) {
      width: 100%; }
  #summary div:nth-of-type(1) {
    padding: 0;
    width: 100%; }
    #summary div:nth-of-type(1) p {
      width: fit-content; }
  #summary div:nth-of-type(2) {
    width: 100%; }
    #summary div:nth-of-type(2) p {
      width: 50%; }

#product {
  width: 90%;
  height: 50%;
  margin: 0 auto; }
  #product img {
    margin: 0 auto;
    width: 100%; }

#size {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly; }
  #size button {
    width: 75px;
    height: 40px;
    border: none;
    font-size: 1.2rem; }

#color {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; }
  #color button {
    width: 65px;
    height: 30px;
    color: white; }
  #color button:nth-child(1) {
    background: red; }
  #color button:nth-child(2) {
    background: blue; }
  #color button:nth-child(3) {
    background: green; }
  #color button:nth-child(4) {
    background: black; }

.size-active {
  background: gold; }

.color-active {
  border: 3px solid gold; }

#submit-order {
  background: lightgreen;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 770px;
  bottom: 30px; }
