#size {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

#color {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;


  label:nth-child(2) {
    width: 10%;
    background: red;
  }
  label:nth-child(4) {
    width: 10%;
    background: blue;
  }
  label:nth-child(6) {
    width: 10%;
    background: green;
  }
  label:nth-child(8) {
    width: 10%;
    background: black;
  }
}

#submit-order {
  background: lightgreen;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  display: block;

}

