#size {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;

  button {
    width: 75px;
    height: 40px;
    border: none;
    font-size: 1.2rem;
  }
}

#color {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  button {
    width: 65px;
    height: 30px;
    color: white;
  }

  button:nth-child(1) {
    background: red;
  }
  button:nth-child(2) {
    background: blue;
  }
  button:nth-child(3) {
    background: green;
  }
  button:nth-child(4) {
    background: black;
  }
}

.size-active {
  background: gold;
}

.color-active {
  border: 3px solid gold;

}

#submit-order {
  background: lightgreen;
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 770px;
  bottom: 30px;

}

