body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1 {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  height: fit-content;
}

h2 {
  margin: 5%;
  width: 100%;
  height: fit-content;
}

h3 {
  width: 100%;
}

div {
  display: flex;
  width: 85%;
}


fieldset {
  width: 85%;
  margin: 0 auto;
  height: fit-content;

}

form {
  display: flex;
  margin: 0 auto;

}

label.required::before, p.required::before {
  content: '*';
  margin-right: 4px;
  color: red;
}

p.required{
  height: fit-content;
  margin: 0 auto;
  width: 100%;
  font-style: italic;
  text-align: center;
}
